<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appbusters.robinkamboj.senseitall">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        android:required="false"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="false" />
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BODY_SENSORS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        android:required="false"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.NFC"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- <uses-permission android:name="android.permission.FLASHLIGHT" /> -->


    <!-- <uses-feature android:name="android.hardware.camera.flash" -->
    <!-- android:required="false"/> -->
    <!-- <uses-feature android:name="android.hardware.camera2.autofocus" -->
    <!-- android:required="false" /> -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:name=".SensorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.splash.splash_activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".view.main_activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.detail_activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.test_activity.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.learn_more_activity.LearnMoreActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>